
.card,.card2{
    position: relative;
    width: 97%;
    border-radius: 6px;
    padding: 30px;
    margin: 10px 10px 0px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.card header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.card form{
    position: relative;
    margin-top: 16px;
    min-height:650px;
    background-color: #fff;
    overflow: hidden;
}
.card form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.card form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input,textarea, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#register{
padding: 5px 10px;
border: none;
background-color:#3C91E6 ;
color: white;
font-weight: 500;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.card2 select {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.card2 select option {
    color: black;
}
.search-input {
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    width: 150px;
    background-color: transparent;
    color: white;
    outline: none; /* Remove the border that appears on focus */
}

.search-input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.card2 select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background: transparent;
    border: none;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}

.card2 select {
    width: 100%;
}
 
